:root{--textcolor:#114c65;--linkcolor:#28b7f2;--color1:#7de1e0;--main-font:'Open Sans',sans-serif}
body{font-family:var(--main-font);color:var(--textcolor)}
img{max-width:100%}
.bg{background:url(../imgs/malbg.png);background-size: cover!important;min-height:100vh;padding:0;position:relative;}
.content{background:rgba(254,255,255,0.8);max-width:628px;text-align:center;padding-bottom:60px;min-height:100vh}
.popup-title{background:#fff;width: 290px;text-transform:uppercase;padding:6px;border-radius:3px;border:1px solid #e5e5e5;font-size:10px;font-weight:700;box-shadow:-1px -1px 13px #b9b9b9;color:#2f1a27;cursor:pointer;transition:all .5s ease;text-align:center;}
.popup{position:fixed;bottom:20px;z-index:9}
.popup-cont{box-shadow:-1px -1px 13px #b9b9b9;background:#fff;width:460px;height:auto;bottom:1px;position:absolute;z-index:9;display:none}
.popup h2{font-size:13px;font-weight:700;color:#331830;padding:0 0 8px;margin-top:0}
.txt-wrap{width:100%;position:relative}
.point{display:-webkit-box;display:-ms-flexbox;display:flex;width:100%;-webkit-box-sizing:border-box;box-sizing:border-box;margin-bottom:11px;-webkit-box-flex:1;-ms-flex:1 0 auto;flex:1 0 auto}
.point .left{min-width:70px;width:140px;margin-right:15px}
.point .right{width:100%;-ms-flex:0 1 auto;flex:0 1 auto}
.point p{font-size:9px;font-weight:400;color:#26262a;margin-bottom:2px}
.point .listed{padding:10px 0 0 35px}
.popup .wrp{padding:10px;background-color:#fff;border:1px solid #c5c5c5;position:relative;max-width:100%}
.popup .close{position:absolute;right:9px;top:8px;opacity:.5}
.popup-title:hover{background:#dcdcdc}
.pick-btn:hover{background:#37f5f3;color:#fff}
.popup-outer{float:left;width:100%;height:50px}
#step2{display:none}
::-webkit-input-placeholder{color:#56751a}
::-moz-placeholder{color:#56751a}
:-ms-input-placeholder{color:#56751a}
:-moz-placeholder{color:#56751a}
h1{font-family:var(--main-font);width: 554px;margin:auto;font-size:38px;margin-top:31px;font-weight:900;letter-spacing:1.5px;line-height:50px;max-width:100%;}
h2{width:380px;font-family:var(--main-font);margin:auto;font-size:29px;margin-top:10px;max-width:100%}
.container{max-width:100%}
footer{background:#ebebeb;text-align:center;padding:0!important}
footer img{width:120px}
footer:before{display:block;height:34px;background:#fff;width:100%}
footer .container{max-width:720px;padding-top:9px}
footer .row>div:last-of-type img{width:72px;padding-top:4px}
footer{position:absolute;width:100%;bottom:0;float:left}
h3{font-size:24px;margin-top:10px}
.countries .item{background:#ffff;padding:16px;box-shadow:0 2px 14px 2px #888;width:240px;margin-left:-30px;transform:rotate(2deg);padding-bottom:10px;position:relative;cursor:pointer}
.countries .item#las{transform:rotate(-10deg);margin-left:-60px}
.countries .item#val{transform:rotate(12deg);margin-right:-60px;margin-left:0}
.countries{margin-top:42px;margin-bottom:93px}
.countries .pic{height:149px}
.countries .pic img{height:100%;width:100%}
.countries .title{font-size:20px;font-weight:400;margin-top:14px}
.countries input{position:absolute;width:100%;left:0;height: 280px;top:0;z-index: 99;}
.desc .title{font-size:18px;margin-bottom:4px;font-weight:700}
.desc p{font-size:14px;margin-bottom:36px}
button.btn.primary-btn{width:150px;height:55px;color:#fff;text-transform:uppercase;background:#26b7f1;border:2px solid #15729b;box-shadow:0 0 16px 1px #888;font-size:20px;letter-spacing:2px;font-weight:700}
.desc{padding-bottom:71px}
.container .item input{position:absolute;opacity:0;cursor:pointer}
.checkmark{position:absolute;top:260px;left:119px;height:20px;width:20px;background-color:#fff;border-radius:50%;border:1px solid;transition:all .5s ease}
.countries .item:hover input ~ .checkmark{background-color:rgba(41,181,238,0.4)}
.checkmark:after{content:"";position:absolute;display:none}
.item input:checked ~ .checkmark:after{display:block}
.checkmark:after{top:4px;left:4px;width:10px;height:10px;border-radius:50%;background:#29b5ee}
.countries .item label{cursor:pointer}
.selected-country{text-align:center;width:98px;margin:auto;background:#fff;padding:3px;font-size:7px;margin-top:10px;padding-bottom:1px;box-shadow: 0 2px 14px 2px #888;}
.selected-country .title{font-size:11px}
.form p{font-size:9px;margin-top:11px;margin-bottom:15px}
.checkboxes{font-size:11px;text-align:left}
label.form-check-label{width:calc(100% - 16px);font-size:9px;padding-left:19px;line-height:14px;font-weight: normal;}
.form-check input{margin-right:7px;margin-top:0;position:absolute;top:1px}
.form{max-width:310px;margin:auto;text-align:left}
.form-check{position:relative}
.note{font-size:7px;margin-top:10px;color: #7d7d7d;}
.free{width:100%;margin-top:10px;height:40px;color:#fff;padding-top:5px;padding-left:12px;text-align:center;border: 2px solid #b7b7b7;margin-bottom:16px;border-radius:3px;background-image: linear-gradient(to bottom, #add265, #96c153, #80b140, #69a12d, #519119);}
.free .icon{width:24px;float:left}
.free .text{float:left;text-transform:uppercase;font-weight:700;padding-left:17px;padding-top:3px;font-size:15px;word-spacing:5px}
.note:last-of-type a{display:block}
.input-cont .icon{position:absolute;left:20px;top:10px;width:18px;color: #9fc94d;}
.input-cont{margin:auto;margin-bottom:8px;position:relative;width:100%}
.input-cont input{width:100%;height:40px;border: 2px solid #a2c06c;background:transparent;text-align:center;}
.selected-country .pic{width:100%;margin:auto}
a#back{color:#38b2f2;text-decoration:underline;font-size:12px;margin-top:5px;display:block;font-weight:700;cursor:pointer;display: none;}
.form-title{color: #000;font-size:19px;margin-top:10px;margin-bottom:18px;font-weight: bold;}
.form a{color:#26b7f1}

.note a {
    color: #b7d3e2;
}
@media screen and (max-width:767px) {
.container .item input {height: 190px}
.countries .title{font-size:16px}
.input-cont .icon{font-size:25px}
.popup-outer{height:30px}
footer img{width:160px}
.countries .item{width:125px;margin-left:-2px;padding:5px}
.content{width:100%;max-width:100%;padding:0;padding-bottom:100px}
.form p{font-size:13px}
.note{font-size:12px}
.form{max-width:90%}
.form-title{font-size:21px;text-align:center}
.input-cont input{height:55px;font-size:20px}
.free{height:55px;padding-top:10px;padding-left:9px}
.free .text{font-size:18px;padding-left:8px}
.free .icon{width:31px}
label.form-check-label{font-size:13px}
.countries .pic{height:95px}
.countries{width:100%}
.countries .item#las{margin-left:0}
.countries .item#val{margin-right:0;margin-left:0}
.checkmark{top:170px;left:52px}
.popup{bottom:50px;left:50%;margin-left: -145px;z-index:9;position:absolute;}
.popup-cont{width:96vw;left:calc(50%);margin-left:-48vw}
.point .left{margin-right:8px;width:100px}
.point p{font-size:9px}
.point{margin-bottom:5px}
.popup h2{margin-bottom:5px}
.popup .wrp{padding:14px 7px}
div#step2{padding:0}
h1{font-size: 36px;letter-spacing:0;line-height: 140%;}
h2{font-size: 28px;}

h3 {
    font-size: 22px;
}
.desc .title{font-size:16px}
.desc p{font-size:14px}
.desc{padding-bottom:30px}
footer:before{display:none!important}
footer .container .row>div:first-of-type,footer .container .row>div:last-of-type{display:none}
footer .container .row>div{width:100%}
footer{padding:10px 0!important;margin:0;border-top:1px solid #fff}
}
@media screen and (max-width:414px) {
.popup{bottom:42px}
}
@media screen and (max-width:375px) {
h2{font-size:26px}
h3{font-size:23px}
.countries .item{width:104px}
h1{font-size:28px}
.countries .pic{height:76px}
.countries .title{font-size:13px}
.container .item input{height:140%}
.form-title{font-size:17px}
div#step2 {overflow: hidden}
}
@media screen and (min-width: 1400px) {
.checkmark{top:330px;left:148px}
.countries{margin-bottom:130px;margin-top:80px}
.countries input{height:130%}
.form{max-width:417px}
.form-title{font-size:26px;text-align:center;width:111%;margin-left:-5%}
.input-cont input{height:55px;font-size:19px}
.input-cont .icon{font-size:22px}
label.form-check-label{font-size:12px;line-height:16px}
.form p{font-size:13px}
.note{font-size:10px}
.free .text{font-size:20px;letter-spacing:1.5px}
.free .icon{width:30px}
.free{height:55px;padding-top:8px;padding-left:20px}
.popup-title{font-size:13px;width:310px;height:34px}
.container-fluid.content{max-width:830px}
h1{font-size:50px;width: 700px;}
h2{font-size:35px}
.countries .item{width:310px}
.countries .pic{height:200px}
.desc .title{font-size:24px}
}